server/audio.mp3
server/hubert_base.pt
server/rmvpe.pt
server/Selena.pth
server/__pycache__/tortoise_api.cpython-310.pyc
server/output/out.wav
server/output/sel3.mp3
server/output/sel4.mp3
src/
server/processed_audio/3cf56.wav
server/processed_audio/4f2bf.wav
server/processed_audio/5f093.wav
server/processed_audio/7e790.wav
server/processed_audio/8b241.wav
server/processed_audio/508f6.wav
server/processed_audio/627a3.wav
server/processed_audio/5784f.wav
server/processed_audio/combined_audio.wav
server/processed_audio/ee07b.wav
