server/audio.mp3
server/hubert_base.pt
server/rmvpe.pt
server/Selena.pth
server/__pycache__/tortoise_api.cpython-310.pyc
server/output/out.wav
server/output/sel3.mp3
server/output/sel4.mp3
src/
server/processed_audio/

server/processed_audio/0d434.wav
server/processed_audio/1be75.wav
server/processed_audio/1c892.wav
server/processed_audio/2f9cb.wav
server/processed_audio/2fce7.wav
server/processed_audio/4ac67.wav
server/processed_audio/5f049.wav
server/processed_audio/6d144.wav
server/processed_audio/6e21e.wav
server/processed_audio/7daaf.wav
server/processed_audio/7df24.wav
server/processed_audio/7ed33.wav
server/processed_audio/9e119.wav
server/processed_audio/9fae6.wav
server/processed_audio/15a03.wav
server/processed_audio/28ea3.wav
server/processed_audio/30f28.wav
server/processed_audio/82f15.wav
server/processed_audio/85b83.wav
server/processed_audio/86c87.wav
server/processed_audio/381c0.wav
server/processed_audio/485f7.wav
server/processed_audio/547c0.wav
server/processed_audio/02184.wav
server/processed_audio/2541e.wav
server/processed_audio/5496e.wav
server/processed_audio/6529a.wav
server/processed_audio/16526.wav
server/processed_audio/50545.wav
server/processed_audio/51037.wav
server/processed_audio/52139.wav
server/processed_audio/57755.wav
server/processed_audio/73101.wav
server/processed_audio/78505.wav
server/processed_audio/84606.wav
server/processed_audio/99061.wav
server/processed_audio/a1b0b.wav
server/processed_audio/a6ac6.wav
server/processed_audio/a3882.wav
server/processed_audio/c2206.wav
server/processed_audio/c4692.wav
server/processed_audio/cb595.wav
server/processed_audio/cd4c6.wav
server/processed_audio/d71ef.wav
server/processed_audio/d95d0.wav
server/processed_audio/d6954.wav
server/processed_audio/de37c.wav
server/processed_audio/e0c8e.wav
server/processed_audio/e16f3.wav
server/processed_audio/e1047.wav
server/processed_audio/e4172.wav
server/processed_audio/ec3d1.wav
server/processed_audio/f5bc2.wav
server/processed_audio/f766a.wav
server/processed_audio/f4382.wav
server/processed_audio/fa910.wav
